[submodule "gremlin/azure-cosmosdb-graph-bulkexecutor-dotnet-getting-started"]
	path = gremlin/azure-cosmosdb-graph-bulkexecutor-dotnet-getting-started
	url = https://github.com/Azure-Samples/azure-cosmosdb-graph-bulkexecutor-dotnet-getting-started.git
[submodule "gremlin/gremlin.linq"]
	path = gremlin/gremlin.linq
	url = https://github.com/crosscutsolutions/gremlin.linq.git
[submodule "gremlin/ExRam.Gremlinq"]
	path = gremlin/ExRam.Gremlinq
	url = https://github.com/ExRam/ExRam.Gremlinq.git
[submodule "gremlin/azure-cosmos-db-graph-gremlindotnet-getting-started"]
	path = gremlin/azure-cosmos-db-graph-gremlindotnet-getting-started
	url = https://github.com/Azure-Samples/azure-cosmos-db-graph-gremlindotnet-getting-started.git
[submodule "gremlin/Gremlin.Net"]
	path = gremlin/Gremlin.Net
	url = https://github.com/FlorianHockmann/Gremlin.Net.git
[submodule "gremlin/GremlinQuery.net"]
	path = gremlin/GremlinQuery.net
	url = https://github.com/boonzaai/GremlinQuery.net.git
[submodule "gremlin/Gremlin.Net.CosmosDb"]
	path = gremlin/Gremlin.Net.CosmosDb
	url = https://github.com/evo-terren/Gremlin.Net.CosmosDb.git
[submodule "gremlin/Weaver"]
	path = gremlin/Weaver
	url = https://github.com/inthefabric/Weaver.git
